#!/usr/bin/env bash

HERE="$(cd "$(dirname "$0")/../.." && pwd)"

docker run --rm \
	-v $HERE:/project \
	-v /var/run/docker.sock:/var/run/docker.sock \
        --mount "type=volume,source=chatsdlc,target=/config" \
        --mount "type=volume,source=chatsdlc-cache,target=/.cache" \
	vonwig/pre-commit "$@"
